<form action="/add" method="POST">
  <p>Titulo do filme</p>
  <input type="text" name="title">
  <p>Sinopse</p>
  <textarea name="description" cols="30" rows="10"></textarea>
  <button type="submit" >Enviar</button>
</form>